<p id="notice"><%= notice %></p>

<h1>Oscillators</h1>

<table>
  <thead>
    <tr>
      <th>Frequency</th>
      <th>Wave</th>
      <th>Detune</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oscillators.each do |oscillator| %>
      <tr>
        <td><%= oscillator.frequency %></td>
        <td><%= oscillator.wave %></td>
        <td><%= oscillator.detune %></td>
        <td><%= link_to 'Show', oscillator %></td>
        <td><%= link_to 'Edit', edit_oscillator_path(oscillator) %></td>
        <td><%= link_to 'Destroy', oscillator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oscillator', new_oscillator_path %>
